 body {
    background-color: darkblue;
 }
 
 header {
    grid-column: span 12;
 }

 h1 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    grid-column: span 12;
    background-color: darkgray;
    padding: 20px;
}

nav {
    grid-column: span 3;
}

nav ul {
    padding: 0;
}

nav li {
    font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  width: 250px;
  background-color: darkblue;
  display: block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

nav li a:hover {
    background-color: blue;
}

#wrapper {
    background-color: white;
    border: 1px solid black;
    width: 1200px;
    margin: 1em auto;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 75px;
    border: 3px solid black;
}

.floatimg {
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  float: left;
  margin-right: 10px;
 }

main { 
    font-family: Georgia, serif;
    text-align: justify;
grid-column: span 9;
 }

 main li a:hover {
    color: blue;
    text-decoration: underline;
 }

 span {
    font-weight: bold;
 }

footer { 
    font-family: Verdana, sans-serif;
    font-style: italic;
    width: 1200px;
    margin: 1em auto;
    padding: 1em;
   grid-template-columns: repeat(12,1fr);
    background-color: black;
    color: white;
 }